@import url(./variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  font-family: "Inter";
  font-size: 16px;
  background-color: var(--grey-lgtr);
  color: var(--black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

p {
  line-height: 1.5;
}

small {
  font-size: 14px;
}

ul {
  list-style-position: inside;
}

li::marker {
  color: var(--grey-drkr);
}

.flex {
  display: flex;
  flex-direction: column;
}

.row {
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.center {
  text-align: center;
}

.decorated-link {
  font-weight: bold;
}

.decorated-link:hover {
  text-decoration: underline;
}

.main-header {
  background-color: var(--grey-drkr);
  padding: 0 20px;
  height: 60px;
  color: var(--white);
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.branding {
  font-size: 26px;
  font-weight: bold;
}

.navigation {
  list-style-type: none;
}

.navigation .active,
.navigation .navigation-link:hover {
  color: var(--white);
}

.navigation-link {
  color: var(--grey-lgt);
  font-size: 18px;
}

.navigation-horizontal {
  display: flex;
  gap: 15px;
}

.navigation-toggler {
  display: none;
  font-size: 20px;
  cursor: pointer;
}

.main-footer {
  background-color: var(--grey-drkr);
  color: var(--white);
  text-align: center;
  padding: 10px;
}

.s-hero {
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1516025455112-e73ad04772e8?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: var(--grey-lgtr);
}

.section-wrapper {
  max-width: 1280px;
  margin: 50px auto;
  padding: 0 30px;
}

.page-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

.page-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-content {
  padding: 20px 0;
  justify-content: center;
}

.slider-controls {
  font-size: 25px;
  display: flex;
  gap: 30px;
}

.slider-controls i {
  cursor: pointer;
}

.slider-elements {
  display: flex;
  gap: 30px;
  padding-top: 20px;
}

.slider-header {
  display: flex;
  justify-content: space-between;
}

.card {
  border-radius: 5px;
  flex: 1 1 345px;
  transition: transform 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card-header {
  height: 300px;
}

.card-header img {
  object-fit: cover;
  height: 100%;
  border-radius: 10px;
}

.card-body {
  padding: 20px 0;
}

.card-title {
  font-size: 20px;
}

.banner-container {
  gap: 30px;
}

.banner {
  width: 100%;
  height: 300px;
  display: flex;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  transition: 0.15s ease;
  cursor: pointer;
}

.banner:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.75);
}

.banner-title {
  font-size: 25px;
  font-weight: bold;
}

.banner-content {
  flex: 1;
}

.banner-img {
  width: 100%;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}

.banner-inner {
  height: 100%;
  padding: 30px;
  gap: 15px;
  justify-content: space-between;
}

/* .s-featured {
  padding: 25px 15px;
} */

/* Buttons */
.btn {
  padding: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  color: var(--grey-drkr);
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  transition: 0.25s ease;
}

.btn:hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}

.btn-lrg {
  font-size: 18px;
  padding: 15px 30px;
}

.primary-btn {
  background-color: var(--primary-drk);
}

.primary-btn:hover {
  background-color: var(--primary-lgt);
}

/* Messages */
.message-container {
  margin: 15px 0;
}

.message {
  margin: 0 auto;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
}

.error {
  border: 1px solid var(--error-bd);
  background-color: var(--error-bg);
}

.success {
  border: 1px solid var(--success-bd);
  background: var(--success-bg);
}

/* Form */
.form-group {
  gap: 5px;
  margin-bottom: 15px;
}

.form-group label {
  font-size: 18px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--grey-drkr);
  border-radius: 5px;
  transition: 0.25s ease;
}

.form-input:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

/* Carousel */
.carousel-container {
  position: relative;
  max-width: 1000px;
  max-height: 1000px;
  margin: auto;
}

.carousel-slides {
  display: none;
}

.carousel-slides img {
  width: 100%;
}

.carousel-prev,
.carousel-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--black);
  font-weight: bold;
  font-size: 18px;
  transition: 0.1s ease-in-out;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.carousel-prev:hover,
.carousel-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--white);
}

.carousel-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.carousel-slide-caption {
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.carousel-slide-number {
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.carousel-indicator {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 5px;
  width: 25px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.1s ease-in-out;
}

.dot:hover,
.img-active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 991px) {
  .navigation-collapsable {
    background-color: var(--black);
    width: 100%;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    border-top: 1px solid var(--grey-drk);
    padding: 0 0 25px 0;
  }

  .navigation-horizontal {
    flex-direction: column;
    gap: 0;
    width: 80%;
    margin: auto;
  }

  .navigation-horizontal .navigation-link {
    border-bottom: 1px solid var(--grey-lgt);
    padding: 20px;
    display: block;
  }

  .navigation-toggler,
  .visible {
    display: block;
  }
}
